<!DOCTYPE html>
<html>
    <head>
        <title>Property Overview</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Analysis</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Type</th>
                    <th>Content</th>
                </tr>
                <tr data-th-each="analysis : ${allAnalysis}">
                    <td data-th-text="${analysis.id}"></td>
                    <td data-th-text="${analysis.analysisType}"></td>
                    <td data-th-text="${analysis.analysisContent}"></td>
                </tr>
            </table>
        </div>

        <hr />
        New Analysis<br />
        <form data-th-action="@{/allAnalysis/add}" name="addAnalysisForm" method="post">
            Analysis Type:<br />
            <input type="radio" name="analysisType" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="analysisType" value="Deposit" /> Deposit<br />
            <input type="radio" name="analysisType" value="Currency" /> Currency<br />
            <input type="radio" name="analysisType" value="PreciousMetal" /> PreciousMetal<br />
            <input type="radio" name="analysisType" value="RealEstate" /> RealEstate<br />
            <input type="radio" name="analysisType" value="Stock" /> Stock<br />
            <input type="submit" value="Add Analysis"/>
            Content: <input type="text" name="analysisContent" /><br />
        </form>

        <hr />
            <a data-th-href="@{/accounts}">Go Back</a>
        <hr />

        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />

        <hr />
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>