<!DOCTYPE html>
<html>
    <head>
        <title>Property Overview</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Books</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Version</th>
                    <th>Book Status</th>
                </tr>
                <tr data-th-each="book : ${books}">
                    <td data-th-text="${book.id}"></td>
                    <td data-th-text="${book.title}"></td>
                    <td data-th-text="${book.author}"></td>
                    <td data-th-text="${book.version}"></td>
                    <td data-th-text="${book.bookStatus}"></td>
                </tr>
            </table>
        </div>

        <hr />
        New Book<br />
        <form data-th-action="@{/books/add}" name="addBookForm" method="post">
            Title: <input type="text" name="title" /><br />
            Author: <input type="text" name="author" /><br />
            Version: <input type="text" name="version" /><br />
            Book Status:<br />
            <input type="radio" name="bookStatus" value="Unknown" checked="checked" /> Unknown<br />
            <input type="radio" name="bookStatus" value="Available" /> Available<br />
            <input type="radio" name="bookStatus" value="Exchanged" /> Exchanged<br />
            <input type="radio" name="bookStatus" value="NotFinishYet" /> NotFinishYet<br />
            <input type="radio" name="bookStatus" value="Out" /> Out<br />
            <input type="submit" value="Add Book"/>
        </form>

        <hr />
            <a data-th-href="@{/accounts}">Go Back</a>
        <hr />

        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />

        <hr />
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>