<!DOCTYPE html>
<html>
    <head>
        <title>Books Comments</title>
    </head>
    <body>
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Comments</h1>

        <div>
            <table style="border: 1px solid black">
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Version</th>
                    <th>Rating</th>
                    <th>Comment</th>
                </tr>
                <tr data-th-each="bookComment : ${allBookComments}">
                    <td data-th-text="${bookComment.id}"></td>
                    <td data-th-text="${bookComment.title}"></td>
                    <td data-th-text="${bookComment.author}"></td>
                    <td data-th-text="${bookComment.version}"></td>
                    <td data-th-text="${bookComment.bookRate}"></td>
                    <td data-th-text="${bookComment.comment}"></td>
                </tr>
            </table>
        </div>

        <hr />
        New Comment<br />
        <form data-th-action="@{/allBookComments/add}" name="addBookCommentForm" method="post">
            Title: <input type="text" name="title" /><br />
            Author: <input type="text" name="author" /><br />
            Version: <input type="text" name="version" /><br />
            Book Rating:<br />
            <input type="radio" name="bookRate" value="Average" checked="checked" /> Average<br />
            <input type="radio" name="bookRate" value="WasteOfTime" /> WasteOfTime<br />
            <input type="radio" name="bookRate" value="Bad" /> Bad<br />
            <input type="radio" name="bookRate" value="Great" /> Great<br />
            <input type="radio" name="bookRate" value="FinancialLegend" /> FinancialLegend<br />
            <input type="submit" value="Add BookComments"/>
            Comment: <input type="text" name="comment" /><br />
        </form>

        <hr />
            <a data-th-href="@{/accounts}">Go Back</a>
        <hr />

        <hr />
            <a data-th-href="@{/files}">Upload a File</a>
        <hr />

        <hr />
        <form data-th-action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>